.largeContainer{

    display: flex;
    flex-direction: column;
}

.largeContainer .socialContainer{
    width: 100vw;
    height: 200px;
    background-color: red;
}

.formularioContainer{
    background-color: rgba(0, 128, 0, 0.37);
    width: 100vw;
}
.formularioContainer input{
    background-color: rgba(181, 245, 181, 0.055);
    width: 300px;
}